########################################################
# package:    Advandz
# filename:   .htaccess
########################################################

# Enable Rewrite Engine
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php

# Deny Access to “.knife” Files
<Files ~ "\.(knife)$">
   order deny,allow
   deny from all
</Files>

# Deny Access to “spaceman” Script
<Files "spaceman">
   order deny,allow
   deny from all
</Files>