########################################################
# package:    Advandz
# filename:   .htaccess
########################################################

# Enable Rewrite Engine
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php

# Deny Access to “.pdt” Files
<Files ~ "\.(pdt)$">
   order deny,allow
   deny from all
</Files>

# Deny Access to “spaceman” Script
<Files "spaceman">
   order deny,allow
   deny from all
</Files>

# Force HTTPS
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=307,NE,L]

