/*!
 * Advandz Framework v1.0.0
 * Copyright 2016-2017 The Advandz Team 
 */
@font-face {
    font-family: 'Advandz Icons';
    src: url('../fonts/advandz-icons.eot?cpuyfg');
    src: url('../fonts/advandz-icons.eot?cpuyfg#iefix') format('embedded-opentype'),
        url('../fonts/advandz-icons.ttf?cpuyfg') format('truetype'),
        url('../fonts/advandz-icons.woff?cpuyfg') format('woff'),
        url('../fonts/advandz-icons.svg?cpuyfg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ai-icon {
    font-family: 'Advandz Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ai-icon .icon-linear-eye:before {
    content: "\e000";
}
.ai-icon .icon-linear-paper-clip:before {
    content: "\e001";
}
.ai-icon .icon-linear-mail:before {
    content: "\e002";
}
.ai-icon .icon-linear-toggle:before {
    content: "\e003";
}
.ai-icon .icon-linear-layout:before {
    content: "\e004";
}
.ai-icon .icon-linear-link:before {
    content: "\e005";
}
.ai-icon .icon-linear-bell:before {
    content: "\e006";
}
.ai-icon .icon-linear-lock:before {
    content: "\e007";
}
.ai-icon .icon-linear-unlock:before {
    content: "\e008";
}
.ai-icon .icon-linear-bookmark:before {
    content: "\e009";
}
.ai-icon .icon-linear-image:before {
    content: "\e010";
}
.ai-icon .icon-linear-wifi:before {
    content: "\e011";
}
.ai-icon .icon-linear-target:before {
    content: "\e012";
}
.ai-icon .icon-linear-clipboard:before {
    content: "\e013";
}
.ai-icon .icon-linear-clock:before {
    content: "\e014";
}
.ai-icon .icon-linear-watch:before {
    content: "\e015";
}
.ai-icon .icon-linear-air-play:before {
    content: "\e016";
}
.ai-icon .icon-linear-camera:before {
    content: "\e017";
}
.ai-icon .icon-linear-video:before {
    content: "\e018";
}
.ai-icon .icon-linear-disc:before {
    content: "\e019";
}
.ai-icon .icon-linear-pointer:before {
    content: "\e020";
}
.ai-icon .icon-linear-computer:before {
    content: "\e021";
}
.ai-icon .icon-linear-databas:before {
    content: "\e022";
}
.ai-icon .icon-linear-cog:before {
    content: "\e023";
}
.ai-icon .icon-linear-heart:before {
    content: "\e024";
}
.ai-icon .icon-linear-paragraph:before {
    content: "\e025";
}
.ai-icon .icon-linear-align-justify:before {
    content: "\e026";
}
.ai-icon .icon-linear-align-left:before {
    content: "\e027";
}
.ai-icon .icon-linear-align-center:before {
    content: "\e028";
}
.ai-icon .icon-linear-align-right:before {
    content: "\e029";
}
.ai-icon .icon-linear-book:before {
    content: "\e030";
}
.ai-icon .icon-linear-layers:before {
    content: "\e031";
}
.ai-icon .icon-linear-stack:before {
    content: "\e032";
}
.ai-icon .icon-linear-stack-alt:before {
    content: "\e033";
}
.ai-icon .icon-linear-paper:before {
    content: "\e034";
}
.ai-icon .icon-paper-stack:before {
    content: "\e035";
}
.ai-icon .icon-linear-search:before {
    content: "\e036";
}
.ai-icon .icon-linear-zoom-in:before {
    content: "\e037";
}
.ai-icon .icon-linear-zoom-out:before {
    content: "\e038";
}
.ai-icon .icon-linear-reply:before {
    content: "\e039";
}
.ai-icon .icon-linear-plus-circle:before {
    content: "\e040";
}
.ai-icon .icon-linear-minus-circle:before {
    content: "\e041";
}
.ai-icon .icon-linear-check-circle:before {
    content: "\e042";
}
.ai-icon .icon-linear-cross-circle:before {
    content: "\e043";
}
.ai-icon .icon-linear-plus-square:before {
    content: "\e044";
}
.ai-icon .icon-linear-minus-square:before {
    content: "\e045";
}
.ai-icon .icon-linear-check-square:before {
    content: "\e046";
}
.ai-icon .icon-linear-cross-square:before {
    content: "\e047";
}
.ai-icon .icon-linear-mic:before {
    content: "\e048";
}
.ai-icon .icon-linear-récord:before {
    content: "\e049";
}
.ai-icon .icon-linear-back:before {
    content: "\e050";
}
.ai-icon .icon-linear-rewind:before {
    content: "\e051";
}
.ai-icon .icon-linear-play:before {
    content: "\e052";
}
.ai-icon .icon-linear-pause:before {
    content: "\e053";
}
.ai-icon .icon-linear-stop:before {
    content: "\e054";
}
.ai-icon .icon-linear-forward:before {
    content: "\e055";
}
.ai-icon .icon-linear-nexo:before {
    content: "\e056";
}
.ai-icon .icon-linear-shuffle:before {
    content: "\e057";
}
.ai-icon .icon-linear-refresh:before {
    content: "\e058";
}
.ai-icon .icon-linear-folder:before {
    content: "\e059";
}
.ai-icon .icon-linear-umbrella:before {
    content: "\e060";
}
.ai-icon .icon-linear-moon:before {
    content: "\e061";
}
.ai-icon .icon-linear-thermometer:before {
    content: "\e062";
}
.ai-icon .icon-linear-drop:before {
    content: "\e063";
}
.ai-icon .icon-linear-sun:before {
    content: "\e064";
}
.ai-icon .icon-linear-cloud:before {
    content: "\e065";
}
.ai-icon .icon-linear-cloud-upload:before {
    content: "\e066";
}
.ai-icon .icon-linear-cloud-download:before {
    content: "\e067";
}
.ai-icon .icon-linear-upload:before {
    content: "\e068";
}
.ai-icon .icon-linear-download:before {
    content: "\e069";
}
.ai-icon .icon-linear-location:before {
    content: "\e070";
}
.ai-icon .icon-linear-sight:before {
    content: "\e071";
}
.ai-icon .icon-linear-map:before {
    content: "\e072";
}
.ai-icon .icon-linear-battery:before {
    content: "\e073";
}
.ai-icon .icon-linear-user:before {
    content: "\e074";
}
.ai-icon .icon-linear-briefcase:before {
    content: "\e075";
}
.ai-icon .icon-linear-comment:before {
    content: "\e076";
}
.ai-icon .icon-linear-anchor:before {
    content: "\e077";
}
.ai-icon .icon-linear-globe:before {
    content: "\e078";
}
.ai-icon .icon-linear-box:before {
    content: "\e079";
}
.ai-icon .icon-linear-reload:before {
    content: "\e080";
}
.ai-icon .icon-linear-share:before {
    content: "\e081";
}
.ai-icon .icon-linear-square-dashed:before {
    content: "\e082";
}
.ai-icon .icon-linear-plus-square-dashed:before {
    content: "\e083";
}
.ai-icon .icon-linear-minus-square-dashed:before {
    content: "\e084";
}
.ai-icon .icon-linear-tag:before {
    content: "\e085";
}
.ai-icon .icon-linear-power:before {
    content: "\e086";
}
.ai-icon .icon-linear-command:before {
    content: "\e087";
}
.ai-icon .icon-linear-alt:before {
    content: "\e088";
}
.ai-icon .icon-linear-esc:before {
    content: "\e089";
}
.ai-icon .icon-linear-signal:before {
    content: "\e090";
}
.ai-icon .icon-linear-graph:before {
    content: "\e091";
}
.ai-icon .icon-linear-pie-graph:before {
    content: "\e092";
}
.ai-icon .icon-linear-star:before {
    content: "\e093";
}
.ai-icon .icon-linear-arrow-left:before {
    content: "\e094";
}
.ai-icon .icon-linear-arrow-right:before {
    content: "\e095";
}
.ai-icon .icon-linear-arrow-up:before {
    content: "\e096";
}
.ai-icon .icon-linear-arrow-down:before {
    content: "\e097";
}
.ai-icon .icon-linear-volumen:before {
    content: "\e098";
}
.ai-icon .icon-linear-mute:before {
    content: "\e099";
}
.ai-icon .icon-linear-content-right:before {
    content: "\e100";
}
.ai-icon .icon-linear-content-left:before {
    content: "\e101";
}
.ai-icon .icon-linear-grid:before {
    content: "\e102";
}
.ai-icon .icon-linear-gird-alt:before {
    content: "\e103";
}
.ai-icon .icon-linear-columns:before {
    content: "\e104";
}
.ai-icon .icon-linear-reboot:before {
    content: "\e105";
}
.ai-icon .icon-linear-shopping-bag:before {
    content: "\e106";
}
.ai-icon .icon-linear-ban:before {
    content: "\e107";
}
.ai-icon .icon-linear-flag:before {
    content: "\e108";
}
.ai-icon .icon-linear-trash:before {
    content: "\e109";
}
.ai-icon .icon-linear-expand:before {
    content: "\e110";
}
.ai-icon .icon-linear-contract:before {
    content: "\e111";
}
.ai-icon .icon-linear-maximize:before {
    content: "\e112";
}
.ai-icon .icon-linear-minimize:before {
    content: "\e113";
}
.ai-icon .icon-linear-plus:before {
    content: "\e114";
}
.ai-icon .icon-linear-minus:before {
    content: "\e115";
}
.ai-icon .icon-linear-check:before {
    content: "\e116";
}
.ai-icon .icon-linear-cross:before {
    content: "\e117";
}
.ai-icon .icon-linear-move:before {
    content: "\e118";
}
.ai-icon .icon-linear-delete:before {
    content: "\e119";
}
.ai-icon .icon-linear-menu:before {
    content: "\e120";
}
.ai-icon .icon-linear-archive:before {
    content: "\e121";
}
.ai-icon .icon-linear-inbox:before {
    content: "\e122";
}
.ai-icon .icon-linear-outbox:before {
    content: "\e123";
}
.ai-icon .icon-linear-file:before {
    content: "\e124";
}
.ai-icon .icon-linear-add-file:before {
    content: "\e125";
}
.ai-icon .icon-linear-delete-file:before {
    content: "\e126";
}
.ai-icon .icon-linear-help:before {
    content: "\e127";
}
.ai-icon .icon-linear-open:before {
    content: "\e128";
}
.ai-icon .icon-linear-ellipsis:before {
    content: "\e129";
}
.ai-icon .icon-px:before {
    content: "\e906";
}
.ai-icon .icon-adjust:before {
    content: "\e910";
}
.ai-icon .icon-adn:before {
    content: "\e913";
}
.ai-icon .icon-align-center:before {
    content: "\e915";
}
.ai-icon .icon-align-justify:before {
    content: "\e916";
}
.ai-icon .icon-align-left:before {
    content: "\e917";
}
.ai-icon .icon-align-right:before {
    content: "\e91b";
}
.ai-icon .icon-amazon:before {
    content: "\e91c";
}
.ai-icon .icon-ambulance:before {
    content: "\e91f";
}
.ai-icon .icon-anchor:before {
    content: "\e922";
}
.ai-icon .icon-android:before {
    content: "\e923";
}
.ai-icon .icon-angellist:before {
    content: "\e924";
}
.ai-icon .icon-angle-double-down:before {
    content: "\e925";
}
.ai-icon .icon-angle-double-left:before {
    content: "\e926";
}
.ai-icon .icon-angle-double-right:before {
    content: "\e927";
}
.ai-icon .icon-angle-double-up:before {
    content: "\e928";
}
.ai-icon .icon-angle-down:before {
    content: "\e929";
}
.ai-icon .icon-angle-left:before {
    content: "\e92a";
}
.ai-icon .icon-angle-right:before {
    content: "\e92b";
}
.ai-icon .icon-angle-up:before {
    content: "\e92c";
}
.ai-icon .icon-apple:before {
    content: "\e92d";
}
.ai-icon .icon-archive:before {
    content: "\e92e";
}
.ai-icon .icon-area-chart:before {
    content: "\e930";
}
.ai-icon .icon-arrow-circle-down:before {
    content: "\e931";
}
.ai-icon .icon-arrow-circle-left:before {
    content: "\e932";
}
.ai-icon .icon-arrow-circle-o-down:before {
    content: "\e933";
}
.ai-icon .icon-arrow-circle-o-left:before {
    content: "\e934";
}
.ai-icon .icon-arrow-circle-o-right:before {
    content: "\e935";
}
.ai-icon .icon-arrow-circle-o-up:before {
    content: "\e936";
}
.ai-icon .icon-arrow-circle-right:before {
    content: "\e937";
}
.ai-icon .icon-arrow-circle-up:before {
    content: "\e938";
}
.ai-icon .icon-arrow-down:before {
    content: "\e93a";
}
.ai-icon .icon-arrow-left:before {
    content: "\e93b";
}
.ai-icon .icon-arrow-right:before {
    content: "\e93c";
}
.ai-icon .icon-arrow-up:before {
    content: "\e93d";
}
.ai-icon .icon-arrows-alt:before {
    content: "\e93e";
}
.ai-icon .icon-arrows-h:before {
    content: "\e93f";
}
.ai-icon .icon-arrows-v:before {
    content: "\e941";
}
.ai-icon .icon-arrows:before {
    content: "\e942";
}
.ai-icon .icon-asterisk:before {
    content: "\e943";
}
.ai-icon .icon-at:before {
    content: "\e945";
}
.ai-icon .icon-backward:before {
    content: "\e946";
}
.ai-icon .icon-ban:before {
    content: "\e947";
}
.ai-icon .icon-bar-chart:before {
    content: "\e948";
}
.ai-icon .icon-barcode:before {
    content: "\e949";
}
.ai-icon .icon-bars:before {
    content: "\e94a";
}
.ai-icon .icon-beer:before {
    content: "\e94b";
}
.ai-icon .icon-behance-square:before {
    content: "\e94c";
}
.ai-icon .icon-bell-o:before {
    content: "\e94d";
}
.ai-icon .icon-bell:before {
    content: "\e94e";
}
.ai-icon .icon-birthday-cake:before {
    content: "\e94f";
}
.ai-icon .icon-bitbucket-square:before {
    content: "\e950";
}
.ai-icon .icon-bitbucket:before {
    content: "\e951";
}
.ai-icon .icon-bitcoin:before {
    content: "\e952";
}
.ai-icon .icon-bluetooth-b:before {
    content: "\e953";
}
.ai-icon .icon-bluetooth:before {
    content: "\e954";
}
.ai-icon .icon-bold:before {
    content: "\e955";
}
.ai-icon .icon-bolt:before {
    content: "\e956";
}
.ai-icon .icon-bomb:before {
    content: "\e957";
}
.ai-icon .icon-book:before {
    content: "\e958";
}
.ai-icon .icon-bookmark-o:before {
    content: "\e959";
}
.ai-icon .icon-bookmark:before {
    content: "\e95a";
}
.ai-icon .icon-briefcase:before {
    content: "\e95b";
}
.ai-icon .icon-btc:before {
    content: "\e95c";
}
.ai-icon .icon-bug:before {
    content: "\e95d";
}
.ai-icon .icon-building-o:before {
    content: "\e95e";
}
.ai-icon .icon-building:before {
    content: "\e95f";
}
.ai-icon .icon-bullhorn:before {
    content: "\e960";
}
.ai-icon .icon-bullseye:before {
    content: "\e961";
}
.ai-icon .icon-bus:before {
    content: "\e962";
}
.ai-icon .icon-buysellads:before {
    content: "\e963";
}
.ai-icon .icon-cab:before {
    content: "\e964";
}
.ai-icon .icon-calculator:before {
    content: "\e965";
}
.ai-icon .icon-calendar-check-o:before {
    content: "\e966";
}
.ai-icon .icon-calendar-minus-o:before {
    content: "\e967";
}
.ai-icon .icon-calendar-o:before {
    content: "\e968";
}
.ai-icon .icon-calendar-plus-o:before {
    content: "\e969";
}
.ai-icon .icon-calendar-times-o:before {
    content: "\e96a";
}
.ai-icon .icon-calendar:before {
    content: "\e96b";
}
.ai-icon .icon-caret-down:before {
    content: "\e96c";
}
.ai-icon .icon-caret-left:before {
    content: "\e96d";
}
.ai-icon .icon-caret-right:before {
    content: "\e96e";
}
.ai-icon .icon-caret-square-o-down:before {
    content: "\e96f";
}
.ai-icon .icon-caret-square-o-left:before {
    content: "\e970";
}
.ai-icon .icon-caret-square-o-right:before {
    content: "\e971";
}
.ai-icon .icon-caret-square-o-up:before {
    content: "\e972";
}
.ai-icon .icon-caret-up:before {
    content: "\e973";
}
.ai-icon .icon-cart-arrow-down:before {
    content: "\e974";
}
.ai-icon .icon-cart-plus:before {
    content: "\e975";
}
.ai-icon .icon-cc-mastercard:before {
    content: "\e976";
}
.ai-icon .icon-cc-paypal:before {
    content: "\e977";
}
.ai-icon .icon-cc-stripe:before {
    content: "\e978";
}
.ai-icon .icon-cc-visa:before {
    content: "\e979";
}
.ai-icon .icon-cc:before {
    content: "\e97a";
}
.ai-icon .icon-certificate:before {
    content: "\e97b";
}
.ai-icon .icon-chain-broken:before {
    content: "\e97c";
}
.ai-icon .icon-chain:before {
    content: "\e97d";
}
.ai-icon .icon-check-circle-o:before {
    content: "\e97e";
}
.ai-icon .icon-check-circle:before {
    content: "\e97f";
}
.ai-icon .icon-check-square-o:before {
    content: "\e980";
}
.ai-icon .icon-check-square:before {
    content: "\e981";
}
.ai-icon .icon-check:before {
    content: "\e982";
}
.ai-icon .icon-chevron-circle-down:before {
    content: "\e983";
}
.ai-icon .icon-chevron-circle-left:before {
    content: "\e984";
}
.ai-icon .icon-chevron-circle-right:before {
    content: "\e985";
}
.ai-icon .icon-chevron-circle-up:before {
    content: "\e986";
}
.ai-icon .icon-chevron-down:before {
    content: "\e987";
}
.ai-icon .icon-chevron-left:before {
    content: "\e988";
}
.ai-icon .icon-chevron-right:before {
    content: "\e989";
}
.ai-icon .icon-chevron-up:before {
    content: "\e98a";
}
.ai-icon .icon-child:before {
    content: "\e98b";
}
.ai-icon .icon-chrome:before {
    content: "\e98c";
}
.ai-icon .icon-circle-o-notch:before {
    content: "\e98d";
}
.ai-icon .icon-circle-o:before {
    content: "\e98e";
}
.ai-icon .icon-circle-thin:before {
    content: "\e98f";
}
.ai-icon .icon-circle:before {
    content: "\e990";
}
.ai-icon .icon-clipboard:before {
    content: "\e991";
}
.ai-icon .icon-clock-o:before {
    content: "\e992";
}
.ai-icon .icon-clone:before {
    content: "\e993";
}
.ai-icon .icon-close:before {
    content: "\e994";
}
.ai-icon .icon-cloud-download:before {
    content: "\e995";
}
.ai-icon .icon-cloud-upload:before {
    content: "\e996";
}
.ai-icon .icon-cloud:before {
    content: "\e997";
}
.ai-icon .icon-cny:before {
    content: "\e998";
}
.ai-icon .icon-code-fork:before {
    content: "\e999";
}
.ai-icon .icon-code:before {
    content: "\e99a";
}
.ai-icon .icon-codepen:before {
    content: "\e99b";
}
.ai-icon .icon-codiepie:before {
    content: "\e99c";
}
.ai-icon .icon-coffee:before {
    content: "\e99d";
}
.ai-icon .icon-cog:before {
    content: "\e99e";
}
.ai-icon .icon-cogs:before {
    content: "\e99f";
}
.ai-icon .icon-columns:before {
    content: "\e9a0";
}
.ai-icon .icon-comment-o:before {
    content: "\e9a1";
}
.ai-icon .icon-comment:before {
    content: "\e9a2";
}
.ai-icon .icon-commenting-o:before {
    content: "\e9a3";
}
.ai-icon .icon-commenting:before {
    content: "\e9a4";
}
.ai-icon .icon-comments-o:before {
    content: "\e9a5";
}
.ai-icon .icon-comments:before {
    content: "\e9a6";
}
.ai-icon .icon-compass:before {
    content: "\e9a7";
}
.ai-icon .icon-compress:before {
    content: "\e9a9";
}
.ai-icon .icon-connectdevelop:before {
    content: "\e9ac";
}
.ai-icon .icon-contao:before {
    content: "\e9ad";
}
.ai-icon .icon-copy:before {
    content: "\e9ae";
}
.ai-icon .icon-copyright:before {
    content: "\e9af";
}
.ai-icon .icon-creative-commons:before {
    content: "\e9b0";
}
.ai-icon .icon-credit-card-alt:before {
    content: "\e9b1";
}
.ai-icon .icon-credit-card:before {
    content: "\e9b2";
}
.ai-icon .icon-crop:before {
    content: "\e9b3";
}
.ai-icon .icon-crosshairs:before {
    content: "\e9b4";
}
.ai-icon .icon-css3:before {
    content: "\e9b5";
}
.ai-icon .icon-cube:before {
    content: "\e9b6";
}
.ai-icon .icon-cubes:before {
    content: "\e9b7";
}
.ai-icon .icon-cut:before {
    content: "\e9b8";
}
.ai-icon .icon-cutlery:before {
    content: "\e9b9";
}
.ai-icon .icon-dashboard:before {
    content: "\e9ba";
}
.ai-icon .icon-dashcube:before {
    content: "\e9bb";
}
.ai-icon .icon-database:before {
    content: "\e9bc";
}
.ai-icon .icon-dedent:before {
    content: "\e9bd";
}
.ai-icon .icon-delicious:before {
    content: "\e9be";
}
.ai-icon .icon-desktop:before {
    content: "\e9bf";
}
.ai-icon .icon-deviantart:before {
    content: "\e9c0";
}
.ai-icon .icon-diamond:before {
    content: "\e9c1";
}
.ai-icon .icon-digg:before {
    content: "\e9c2";
}
.ai-icon .icon-dollar:before {
    content: "\e9c3";
}
.ai-icon .icon-dot-circle-o:before {
    content: "\e9c4";
}
.ai-icon .icon-download:before {
    content: "\e9c5";
}
.ai-icon .icon-dribbble:before {
    content: "\e9c6";
}
.ai-icon .icon-dropbox:before {
    content: "\e9c7";
}
.ai-icon .icon-drupal:before {
    content: "\e9c8";
}
.ai-icon .icon-edge:before {
    content: "\e9c9";
}
.ai-icon .icon-edit:before {
    content: "\e9ca";
}
.ai-icon .icon-eject:before {
    content: "\e9cb";
}
.ai-icon .icon-ellipsis-h:before {
    content: "\e9cc";
}
.ai-icon .icon-ellipsis-v:before {
    content: "\e9cd";
}
.ai-icon .icon-empire:before {
    content: "\e9ce";
}
.ai-icon .icon-envelope-o:before {
    content: "\e9cf";
}
.ai-icon .icon-envelope-square:before {
    content: "\e9d0";
}
.ai-icon .icon-envelope:before {
    content: "\e9d1";
}
.ai-icon .icon-eraser:before {
    content: "\e9d2";
}
.ai-icon .icon-eur:before {
    content: "\e9d3";
}
.ai-icon .icon-euro:before {
    content: "\e9d4";
}
.ai-icon .icon-exchange:before {
    content: "\e9d5";
}
.ai-icon .icon-exclamation-circle:before {
    content: "\e9d6";
}
.ai-icon .icon-exclamation-triangle:before {
    content: "\e9d7";
}
.ai-icon .icon-exclamation:before {
    content: "\e9d8";
}
.ai-icon .icon-expand:before {
    content: "\e9d9";
}
.ai-icon .icon-expeditedssl:before {
    content: "\e9da";
}
.ai-icon .icon-external-link-square:before {
    content: "\e9db";
}
.ai-icon .icon-external-link:before {
    content: "\e9dc";
}
.ai-icon .icon-eye-slash:before {
    content: "\e9dd";
}
.ai-icon .icon-eye:before {
    content: "\e9de";
}
.ai-icon .icon-eyedropper:before {
    content: "\e9df";
}
.ai-icon .icon-facebook-f:before {
    content: "\ea04";
}
.ai-icon .icon-facebook-official:before {
    content: "\ea05";
}
.ai-icon .icon-facebook-square:before {
    content: "\ea06";
}
.ai-icon .icon-facebook:before {
    content: "\ea07";
}
.ai-icon .icon-fast-backward:before {
    content: "\ea08";
}
.ai-icon .icon-fast-forward:before {
    content: "\ea09";
}
.ai-icon .icon-fax:before {
    content: "\ea0a";
}
.ai-icon .icon-feed:before {
    content: "\ea0b";
}
.ai-icon .icon-female:before {
    content: "\ea0c";
}
.ai-icon .icon-fighter-jet:before {
    content: "\ea0d";
}
.ai-icon .icon-file-archive-o:before {
    content: "\ea0e";
}
.ai-icon .icon-file-audio-o:before {
    content: "\ea0f";
}
.ai-icon .icon-file-code-o:before {
    content: "\ea10";
}
.ai-icon .icon-file-excel-o:before {
    content: "\ea11";
}
.ai-icon .icon-file-image-o:before {
    content: "\ea12";
}
.ai-icon .icon-file-movie-o:before {
    content: "\ea13";
}
.ai-icon .icon-file-o:before {
    content: "\ea14";
}
.ai-icon .icon-file-pdf-o:before {
    content: "\ea15";
}
.ai-icon .icon-file-photo-o:before {
    content: "\ea1d";
}
.ai-icon .icon-file-picture-o:before {
    content: "\ea1e";
}
.ai-icon .icon-file-powerpoint-o:before {
    content: "\ea1f";
}
.ai-icon .icon-file-sound-o:before {
    content: "\ea20";
}
.ai-icon .icon-file-text-o:before {
    content: "\ea21";
}
.ai-icon .icon-file-text:before {
    content: "\ea22";
}
.ai-icon .icon-file-video-o:before {
    content: "\ea23";
}
.ai-icon .icon-file-word-o:before {
    content: "\ea24";
}
.ai-icon .icon-file-zip-o:before {
    content: "\ea25";
}
.ai-icon .icon-file:before {
    content: "\ea26";
}
.ai-icon .icon-files-o:before {
    content: "\ea27";
}
.ai-icon .icon-film:before {
    content: "\ea28";
}
.ai-icon .icon-filter:before {
    content: "\ea29";
}
.ai-icon .icon-fire-extinguisher:before {
    content: "\ea2a";
}
.ai-icon .icon-fire:before {
    content: "\ea2b";
}
.ai-icon .icon-firefox:before {
    content: "\ea2c";
}
.ai-icon .icon-flag-checkered:before {
    content: "\ea2d";
}
.ai-icon .icon-flag-o:before {
    content: "\ea2e";
}
.ai-icon .icon-flag:before {
    content: "\ea2f";
}
.ai-icon .icon-flash:before {
    content: "\ea30";
}
.ai-icon .icon-flask:before {
    content: "\ea31";
}
.ai-icon .icon-flickr:before {
    content: "\ea32";
}
.ai-icon .icon-floppy-o:before {
    content: "\ea33";
}
.ai-icon .icon-folder-o:before {
    content: "\ea34";
}
.ai-icon .icon-folder-open-o:before {
    content: "\ea35";
}
.ai-icon .icon-folder-open:before {
    content: "\ea36";
}
.ai-icon .icon-folder:before {
    content: "\ea37";
}
.ai-icon .icon-font:before {
    content: "\ea38";
}
.ai-icon .icon-fonticons:before {
    content: "\ea39";
}
.ai-icon .icon-fort-awesome:before {
    content: "\ea3a";
}
.ai-icon .icon-forumbee:before {
    content: "\ea3b";
}
.ai-icon .icon-forward:before {
    content: "\ea3c";
}
.ai-icon .icon-foursquare:before {
    content: "\ea3d";
}
.ai-icon .icon-frown-o:before {
    content: "\ea3e";
}
.ai-icon .icon-futbol-o:before {
    content: "\ea3f";
}
.ai-icon .icon-gamepad:before {
    content: "\ea40";
}
.ai-icon .icon-gavel:before {
    content: "\ea41";
}
.ai-icon .icon-gbp:before {
    content: "\ea42";
}
.ai-icon .icon-ge:before {
    content: "\ea43";
}
.ai-icon .icon-gear:before {
    content: "\ea44";
}
.ai-icon .icon-gears:before {
    content: "\ea45";
}
.ai-icon .icon-genderless:before {
    content: "\ea46";
}
.ai-icon .icon-get-pocket:before {
    content: "\ea47";
}
.ai-icon .icon-gg-circle:before {
    content: "\ea48";
}
.ai-icon .icon-gg:before {
    content: "\ea49";
}
.ai-icon .icon-gift:before {
    content: "\ea4a";
}
.ai-icon .icon-git-square:before {
    content: "\ea4b";
}
.ai-icon .icon-git:before {
    content: "\ea4c";
}
.ai-icon .icon-github-alt:before {
    content: "\ea4d";
}
.ai-icon .icon-github-square:before {
    content: "\ea4e";
}
.ai-icon .icon-github:before {
    content: "\ea4f";
}
.ai-icon .icon-gittip:before {
    content: "\ea50";
}
.ai-icon .icon-glass:before {
    content: "\ea51";
}
.ai-icon .icon-globe:before {
    content: "\ea52";
}
.ai-icon .icon-google-plus-square:before {
    content: "\ea53";
}
.ai-icon .icon-google-plus:before {
    content: "\ea54";
}
.ai-icon .icon-google-wallet:before {
    content: "\ea55";
}
.ai-icon .icon-google:before {
    content: "\ea56";
}
.ai-icon .icon-graduation-cap:before {
    content: "\ea57";
}
.ai-icon .icon-gratipay:before {
    content: "\ea58";
}
.ai-icon .icon-group:before {
    content: "\ea59";
}
.ai-icon .icon-h-square:before {
    content: "\ea5a";
}
.ai-icon .icon-hacker-news:before {
    content: "\ea5b";
}
.ai-icon .icon-hand-grab-o:before {
    content: "\ea5c";
}
.ai-icon .icon-hand-lizard-o:before {
    content: "\ea5d";
}
.ai-icon .icon-hand-o-down:before {
    content: "\ea5e";
}
.ai-icon .icon-hand-o-left:before {
    content: "\ea5f";
}
.ai-icon .icon-hand-o-right:before {
    content: "\ea60";
}
.ai-icon .icon-hand-o-up:before {
    content: "\ea61";
}
.ai-icon .icon-hand-paper-o:before {
    content: "\ea62";
}
.ai-icon .icon-hand-peace-o:before {
    content: "\ea63";
}
.ai-icon .icon-hand-pointer-o:before {
    content: "\ea64";
}
.ai-icon .icon-hand-rock-o:before {
    content: "\ea65";
}
.ai-icon .icon-hand-scissors-o:before {
    content: "\ea66";
}
.ai-icon .icon-hand-spock-o:before {
    content: "\ea67";
}
.ai-icon .icon-hand-stop-o:before {
    content: "\ea68";
}
.ai-icon .icon-hashtag:before {
    content: "\ea69";
}
.ai-icon .icon-hdd-o:before {
    content: "\ea6a";
}
.ai-icon .icon-header:before {
    content: "\ea6b";
}
.ai-icon .icon-headphones:before {
    content: "\ea6c";
}
.ai-icon .icon-heart-o:before {
    content: "\ea6d";
}
.ai-icon .icon-heart:before {
    content: "\ea6e";
}
.ai-icon .icon-heartbeat:before {
    content: "\ea6f";
}
.ai-icon .icon-history:before {
    content: "\ea70";
}
.ai-icon .icon-home:before {
    content: "\ea71";
}
.ai-icon .icon-hospital-o:before {
    content: "\ea72";
}
.ai-icon .icon-hotel:before {
    content: "\ea73";
}
.ai-icon .icon-hourglass-1:before {
    content: "\ea74";
}
.ai-icon .icon-hourglass-2:before {
    content: "\ea75";
}
.ai-icon .icon-hourglass-3:before {
    content: "\ea76";
}
.ai-icon .icon-hourglass-end:before {
    content: "\ea77";
}
.ai-icon .icon-hourglass-half:before {
    content: "\ea78";
}
.ai-icon .icon-hourglass-o:before {
    content: "\ea79";
}
.ai-icon .icon-hourglass-start:before {
    content: "\ea7a";
}
.ai-icon .icon-hourglass:before {
    content: "\ea7b";
}
.ai-icon .icon-houzz:before {
    content: "\ea7c";
}
.ai-icon .icon-html5:before {
    content: "\ea7d";
}
.ai-icon .icon-i-cursor:before {
    content: "\ea7e";
}
.ai-icon .icon-ils:before {
    content: "\ea7f";
}
.ai-icon .icon-image:before {
    content: "\ea80";
}
.ai-icon .icon-inbox:before {
    content: "\ea81";
}
.ai-icon .icon-indent:before {
    content: "\ea83";
}
.ai-icon .icon-industry:before {
    content: "\ea84";
}
.ai-icon .icon-info-circle:before {
    content: "\ea85";
}
.ai-icon .icon-info:before {
    content: "\ea86";
}
.ai-icon .icon-inr:before {
    content: "\ea87";
}
.ai-icon .icon-instagram:before {
    content: "\ea88";
}
.ai-icon .icon-institution:before {
    content: "\ea89";
}
.ai-icon .icon-internet-explorer:before {
    content: "\ea8c";
}
.ai-icon .icon-intersex:before {
    content: "\ea8d";
}
.ai-icon .icon-ioxhost:before {
    content: "\ea91";
}
.ai-icon .icon-italic:before {
    content: "\ea92";
}
.ai-icon .icon-joomla:before {
    content: "\ea93";
}
.ai-icon .icon-jpy:before {
    content: "\ea94";
}
.ai-icon .icon-jsfiddle:before {
    content: "\ea95";
}
.ai-icon .icon-key:before {
    content: "\ea97";
}
.ai-icon .icon-keyboard-o:before {
    content: "\ea98";
}
.ai-icon .icon-krw:before {
    content: "\ea99";
}
.ai-icon .icon-language:before {
    content: "\ea9a";
}
.ai-icon .icon-laptop:before {
    content: "\ea9b";
}
.ai-icon .icon-lastfm-square:before {
    content: "\ea9c";
}
.ai-icon .icon-lastfm:before {
    content: "\ea9d";
}
.ai-icon .icon-leaf:before {
    content: "\ea9e";
}
.ai-icon .icon-leanpub:before {
    content: "\ea9f";
}
.ai-icon .icon-legal:before {
    content: "\eaa0";
}
.ai-icon .icon-lemon-o:before {
    content: "\eaa1";
}
.ai-icon .icon-level-down:before {
    content: "\eaa2";
}
.ai-icon .icon-level-up:before {
    content: "\eaa3";
}
.ai-icon .icon-life-bouy:before {
    content: "\eaa4";
}
.ai-icon .icon-life-buoy:before {
    content: "\eaa5";
}
.ai-icon .icon-life-ring:before {
    content: "\eaa6";
}
.ai-icon .icon-life-saver:before {
    content: "\eaa7";
}
.ai-icon .icon-lightbulb-o:before {
    content: "\eaa8";
}
.ai-icon .icon-line-chart:before {
    content: "\eaa9";
}
.ai-icon .icon-link:before {
    content: "\eaaa";
}
.ai-icon .icon-linkedin-square:before {
    content: "\eaab";
}
.ai-icon .icon-linkedin:before {
    content: "\eaac";
}
.ai-icon .icon-linux:before {
    content: "\eaad";
}
.ai-icon .icon-list-alt:before {
    content: "\eaae";
}
.ai-icon .icon-list-ol:before {
    content: "\eaaf";
}
.ai-icon .icon-list-ul:before {
    content: "\eab0";
}
.ai-icon .icon-list:before {
    content: "\eab1";
}
.ai-icon .icon-location-arrow:before {
    content: "\eab3";
}
.ai-icon .icon-lock:before {
    content: "\eab4";
}
.ai-icon .icon-long-arrow-down:before {
    content: "\eab5";
}
.ai-icon .icon-long-arrow-left:before {
    content: "\eab6";
}
.ai-icon .icon-long-arrow-right:before {
    content: "\eab7";
}
.ai-icon .icon-long-arrow-up:before {
    content: "\eab8";
}
.ai-icon .icon-magic:before {
    content: "\eab9";
}
.ai-icon .icon-magnet:before {
    content: "\eaba";
}
.ai-icon .icon-mail-forward:before {
    content: "\eabb";
}
.ai-icon .icon-mail-reply-all:before {
    content: "\eabc";
}
.ai-icon .icon-mail-reply:before {
    content: "\eabd";
}
.ai-icon .icon-male:before {
    content: "\eabe";
}
.ai-icon .icon-map-marker:before {
    content: "\eabf";
}
.ai-icon .icon-map-o:before {
    content: "\eac1";
}
.ai-icon .icon-map-pin:before {
    content: "\eac2";
}
.ai-icon .icon-map-signs:before {
    content: "\eac3";
}
.ai-icon .icon-map:before {
    content: "\eac4";
}
.ai-icon .icon-mars-double:before {
    content: "\eac5";
}
.ai-icon .icon-mars-stroke-h:before {
    content: "\eac6";
}
.ai-icon .icon-mars-stroke-v:before {
    content: "\eac7";
}
.ai-icon .icon-mars-stroke:before {
    content: "\eac8";
}
.ai-icon .icon-mars:before {
    content: "\eac9";
}
.ai-icon .icon-maxcdn:before {
    content: "\eaca";
}
.ai-icon .icon-meanpath:before {
    content: "\eacb";
}
.ai-icon .icon-medium:before {
    content: "\eacc";
}
.ai-icon .icon-medkit:before {
    content: "\eacd";
}
.ai-icon .icon-meh-o:before {
    content: "\eace";
}
.ai-icon .icon-mercury:before {
    content: "\eacf";
}
.ai-icon .icon-microphone-slash:before {
    content: "\ead0";
}
.ai-icon .icon-microphone:before {
    content: "\ead1";
}
.ai-icon .icon-minus-circle:before {
    content: "\ead2";
}
.ai-icon .icon-minus-square-o:before {
    content: "\ead3";
}
.ai-icon .icon-minus-square:before {
    content: "\ead4";
}
.ai-icon .icon-minus:before {
    content: "\ead5";
}
.ai-icon .icon-mixcloud:before {
    content: "\ead6";
}
.ai-icon .icon-mobile-phone:before {
    content: "\ead7";
}
.ai-icon .icon-mobile:before {
    content: "\ead8";
}
.ai-icon .icon-modx:before {
    content: "\ead9";
}
.ai-icon .icon-money:before {
    content: "\eada";
}
.ai-icon .icon-moon-o:before {
    content: "\eadb";
}
.ai-icon .icon-mortar-board:before {
    content: "\eadc";
}
.ai-icon .icon-motorcycle:before {
    content: "\eadd";
}
.ai-icon .icon-mouse-pointer:before {
    content: "\eade";
}
.ai-icon .icon-music:before {
    content: "\eadf";
}
.ai-icon .icon-navicon:before {
    content: "\eae0";
}
.ai-icon .icon-neuter:before {
    content: "\eae1";
}
.ai-icon .icon-newspaper-o:before {
    content: "\eae2";
}
.ai-icon .icon-object-group:before {
    content: "\eae3";
}
.ai-icon .icon-object-ungroup:before {
    content: "\eae4";
}
.ai-icon .icon-odnoklassniki-square:before {
    content: "\eae5";
}
.ai-icon .icon-odnoklassniki:before {
    content: "\eae6";
}
.ai-icon .icon-opencart:before {
    content: "\eae7";
}
.ai-icon .icon-openid:before {
    content: "\eae8";
}
.ai-icon .icon-opera:before {
    content: "\eae9";
}
.ai-icon .icon-optin-monster:before {
    content: "\eaea";
}
.ai-icon .icon-outdent:before {
    content: "\eaeb";
}
.ai-icon .icon-pagelines:before {
    content: "\eaec";
}
.ai-icon .icon-paint-brush:before {
    content: "\eaed";
}
.ai-icon .icon-paper-plane-o:before {
    content: "\eaee";
}
.ai-icon .icon-paper-plane:before {
    content: "\eaef";
}
.ai-icon .icon-paperclip:before {
    content: "\eaf0";
}
.ai-icon .icon-paragraph:before {
    content: "\eaf1";
}
.ai-icon .icon-paste:before {
    content: "\eaf2";
}
.ai-icon .icon-pause-circle-o:before {
    content: "\eaf3";
}
.ai-icon .icon-pause-circle:before {
    content: "\eaf4";
}
.ai-icon .icon-pause:before {
    content: "\eaf5";
}
.ai-icon .icon-paw:before {
    content: "\eaf6";
}
.ai-icon .icon-paypal:before {
    content: "\eaf7";
}
.ai-icon .icon-pencil-square-o:before {
    content: "\eaf8";
}
.ai-icon .icon-pencil-square:before {
    content: "\eaf9";
}
.ai-icon .icon-pencil:before {
    content: "\eafa";
}
.ai-icon .icon-percent:before {
    content: "\eafb";
}
.ai-icon .icon-phone-square:before {
    content: "\eafc";
}
.ai-icon .icon-phone:before {
    content: "\eafd";
}
.ai-icon .icon-photo:before {
    content: "\eafe";
}
.ai-icon .icon-picture-o:before {
    content: "\eaff";
}
.ai-icon .icon-pie-chart:before {
    content: "\eb00";
}
.ai-icon .icon-pied-piper-alt:before {
    content: "\eb01";
}
.ai-icon .icon-pied-piper:before {
    content: "\eb02";
}
.ai-icon .icon-pinterest-p:before {
    content: "\eb03";
}
.ai-icon .icon-pinterest-square:before {
    content: "\eb04";
}
.ai-icon .icon-pinterest:before {
    content: "\eb05";
}
.ai-icon .icon-plane:before {
    content: "\eb06";
}
.ai-icon .icon-play-circle-o:before {
    content: "\eb07";
}
.ai-icon .icon-play-circle:before {
    content: "\eb08";
}
.ai-icon .icon-play:before {
    content: "\eb09";
}
.ai-icon .icon-plug:before {
    content: "\eb0a";
}
.ai-icon .icon-plus-circle:before {
    content: "\eb0b";
}
.ai-icon .icon-plus-square-o:before {
    content: "\eb0c";
}
.ai-icon .icon-plus-square:before {
    content: "\eb0d";
}
.ai-icon .icon-plus:before {
    content: "\eb0e";
}
.ai-icon .icon-power-off:before {
    content: "\eb0f";
}
.ai-icon .icon-print:before {
    content: "\eb10";
}
.ai-icon .icon-product-hunt:before {
    content: "\eb11";
}
.ai-icon .icon-puzzle-piece:before {
    content: "\eb12";
}
.ai-icon .icon-qq:before {
    content: "\eb13";
}
.ai-icon .icon-qrcode:before {
    content: "\eb14";
}
.ai-icon .icon-question-circle:before {
    content: "\eb15";
}
.ai-icon .icon-question:before {
    content: "\eb16";
}
.ai-icon .icon-quote-left:before {
    content: "\eb17";
}
.ai-icon .icon-quote-right:before {
    content: "\eb18";
}
.ai-icon .icon-ra:before {
    content: "\eb19";
}
.ai-icon .icon-random:before {
    content: "\eb1a";
}
.ai-icon .icon-rebel:before {
    content: "\eb1b";
}
.ai-icon .icon-recycle:before {
    content: "\eb1c";
}
.ai-icon .icon-reddit-alien:before {
    content: "\eb1d";
}
.ai-icon .icon-reddit-square:before {
    content: "\eb1e";
}
.ai-icon .icon-reddit:before {
    content: "\eb1f";
}
.ai-icon .icon-refresh:before {
    content: "\eb20";
}
.ai-icon .icon-registered:before {
    content: "\eb21";
}
.ai-icon .icon-remove:before {
    content: "\eb22";
}
.ai-icon .icon-renren:before {
    content: "\eb23";
}
.ai-icon .icon-reorder:before {
    content: "\eb24";
}
.ai-icon .icon-repeat:before {
    content: "\eb25";
}
.ai-icon .icon-reply-all:before {
    content: "\eb26";
}
.ai-icon .icon-reply:before {
    content: "\eb27";
}
.ai-icon .icon-retweet:before {
    content: "\eb28";
}
.ai-icon .icon-rmb:before {
    content: "\eb29";
}
.ai-icon .icon-road:before {
    content: "\eb2a";
}
.ai-icon .icon-rocket:before {
    content: "\eb2b";
}
.ai-icon .icon-rotate-left:before {
    content: "\eb2c";
}
.ai-icon .icon-rotate-right:before {
    content: "\eb2d";
}
.ai-icon .icon-rouble:before {
    content: "\eb2e";
}
.ai-icon .icon-rss-square:before {
    content: "\eb2f";
}
.ai-icon .icon-rss:before {
    content: "\eb30";
}
.ai-icon .icon-rub:before {
    content: "\eb31";
}
.ai-icon .icon-ruble:before {
    content: "\eb32";
}
.ai-icon .icon-rupee:before {
    content: "\eb33";
}
.ai-icon .icon-safari:before {
    content: "\eb34";
}
.ai-icon .icon-save:before {
    content: "\eb35";
}
.ai-icon .icon-scissors:before {
    content: "\eb36";
}
.ai-icon .icon-scribd:before {
    content: "\eb37";
}
.ai-icon .icon-search-minus:before {
    content: "\eb38";
}
.ai-icon .icon-search-plus:before {
    content: "\eb39";
}
.ai-icon .icon-search:before {
    content: "\eb3a";
}
.ai-icon .icon-sellsy:before {
    content: "\eb3b";
}
.ai-icon .icon-send-o:before {
    content: "\eb3c";
}
.ai-icon .icon-send:before {
    content: "\eb3d";
}
.ai-icon .icon-server:before {
    content: "\eb3e";
}
.ai-icon .icon-share-alt-square:before {
    content: "\eb3f";
}
.ai-icon .icon-share-alt:before {
    content: "\eb40";
}
.ai-icon .icon-share-square-o:before {
    content: "\eb41";
}
.ai-icon .icon-share-square:before {
    content: "\eb42";
}
.ai-icon .icon-share:before {
    content: "\eb43";
}
.ai-icon .icon-shekel:before {
    content: "\eb44";
}
.ai-icon .icon-sheqel:before {
    content: "\eb45";
}
.ai-icon .icon-shield:before {
    content: "\eb46";
}
.ai-icon .icon-ship:before {
    content: "\eb47";
}
.ai-icon .icon-shirtsinbulk:before {
    content: "\eb48";
}
.ai-icon .icon-shopping-bag:before {
    content: "\eb49";
}
.ai-icon .icon-shopping-basket:before {
    content: "\eb4a";
}
.ai-icon .icon-shopping-cart:before {
    content: "\eb4b";
}
.ai-icon .icon-sign-in:before {
    content: "\eb4c";
}
.ai-icon .icon-sign-out:before {
    content: "\eb4d";
}
.ai-icon .icon-signal:before {
    content: "\eb4e";
}
.ai-icon .icon-simplybuilt:before {
    content: "\eb4f";
}
.ai-icon .icon-sitemap:before {
    content: "\eb50";
}
.ai-icon .icon-skyatlas:before {
    content: "\eb51";
}
.ai-icon .icon-skype:before {
    content: "\eb52";
}
.ai-icon .icon-slack:before {
    content: "\eb53";
}
.ai-icon .icon-sliders:before {
    content: "\eb54";
}
.ai-icon .icon-slideshare:before {
    content: "\eb55";
}
.ai-icon .icon-smile-o:before {
    content: "\eb56";
}
.ai-icon .icon-soccer-ball-o:before {
    content: "\eb57";
}
.ai-icon .icon-sort-alpha-asc:before {
    content: "\eb58";
}
.ai-icon .icon-sort-alpha-desc:before {
    content: "\eb59";
}
.ai-icon .icon-sort-amount-asc:before {
    content: "\eb5a";
}
.ai-icon .icon-sort-amount-desc:before {
    content: "\eb5b";
}
.ai-icon .icon-sort-asc:before {
    content: "\eb5c";
}
.ai-icon .icon-sort-desc:before {
    content: "\eb5d";
}
.ai-icon .icon-sort-down:before {
    content: "\eb5e";
}
.ai-icon .icon-sort-numeric-asc:before {
    content: "\eb5f";
}
.ai-icon .icon-sort-numeric-desc:before {
    content: "\eb60";
}
.ai-icon .icon-sort-up:before {
    content: "\eb61";
}
.ai-icon .icon-sort:before {
    content: "\eb62";
}
.ai-icon .icon-soundcloud:before {
    content: "\eb63";
}
.ai-icon .icon-space-shuttle:before {
    content: "\eb64";
}
.ai-icon .icon-spinner:before {
    content: "\eb65";
}
.ai-icon .icon-spoon:before {
    content: "\eb66";
}
.ai-icon .icon-spotify:before {
    content: "\eb67";
}
.ai-icon .icon-square-o:before {
    content: "\eb68";
}
.ai-icon .icon-square:before {
    content: "\eb69";
}
.ai-icon .icon-stack-exchange:before {
    content: "\eb6a";
}
.ai-icon .icon-stack-overflow:before {
    content: "\eb6b";
}
.ai-icon .icon-star-half-empty:before {
    content: "\eb6c";
}
.ai-icon .icon-star-half-full:before {
    content: "\eb6d";
}
.ai-icon .icon-star-half-o:before {
    content: "\eb6e";
}
.ai-icon .icon-star-half:before {
    content: "\eb6f";
}
.ai-icon .icon-star-o:before {
    content: "\eb70";
}
.ai-icon .icon-star:before {
    content: "\eb71";
}
.ai-icon .icon-steam-square:before {
    content: "\eb72";
}
.ai-icon .icon-steam:before {
    content: "\eb73";
}
.ai-icon .icon-step-backward:before {
    content: "\eb74";
}
.ai-icon .icon-step-forward:before {
    content: "\eb75";
}
.ai-icon .icon-stethoscope:before {
    content: "\eb76";
}
.ai-icon .icon-sticky-note-o:before {
    content: "\eb77";
}
.ai-icon .icon-sticky-note:before {
    content: "\eb78";
}
.ai-icon .icon-stop-circle-o:before {
    content: "\eb79";
}
.ai-icon .icon-stop-circle:before {
    content: "\eb7a";
}
.ai-icon .icon-stop:before {
    content: "\eb7b";
}
.ai-icon .icon-street-view:before {
    content: "\eb7c";
}
.ai-icon .icon-strikethrough:before {
    content: "\eb7d";
}
.ai-icon .icon-stumbleupon-circle:before {
    content: "\eb7e";
}
.ai-icon .icon-stumbleupon:before {
    content: "\eb7f";
}
.ai-icon .icon-subscript:before {
    content: "\eb80";
}
.ai-icon .icon-subway:before {
    content: "\eb81";
}
.ai-icon .icon-suitcase:before {
    content: "\eb82";
}
.ai-icon .icon-sun-o:before {
    content: "\eb83";
}
.ai-icon .icon-superscript:before {
    content: "\eb84";
}
.ai-icon .icon-support:before {
    content: "\eb85";
}
.ai-icon .icon-table:before {
    content: "\eb86";
}
.ai-icon .icon-tablet:before {
    content: "\eb87";
}
.ai-icon .icon-tachometer:before {
    content: "\eb88";
}
.ai-icon .icon-tag:before {
    content: "\eb89";
}
.ai-icon .icon-tags:before {
    content: "\eb8a";
}
.ai-icon .icon-tasks:before {
    content: "\eb8b";
}
.ai-icon .icon-taxi:before {
    content: "\eb8c";
}
.ai-icon .icon-television:before {
    content: "\eb8d";
}
.ai-icon .icon-tencent-weibo:before {
    content: "\eb8e";
}
.ai-icon .icon-terminal:before {
    content: "\eb8f";
}
.ai-icon .icon-text-height:before {
    content: "\eb90";
}
.ai-icon .icon-text-width:before {
    content: "\eb91";
}
.ai-icon .icon-th-large:before {
    content: "\eb92";
}
.ai-icon .icon-th-list:before {
    content: "\eb93";
}
.ai-icon .icon-th:before {
    content: "\eb94";
}
.ai-icon .icon-thumb-tack:before {
    content: "\eb95";
}
.ai-icon .icon-thumbs-down:before {
    content: "\eb96";
}
.ai-icon .icon-thumbs-o-down:before {
    content: "\eb97";
}
.ai-icon .icon-thumbs-o-up:before {
    content: "\eb98";
}
.ai-icon .icon-thumbs-up:before {
    content: "\eb99";
}
.ai-icon .icon-ticket:before {
    content: "\eb9a";
}
.ai-icon .icon-times-circle-o:before {
    content: "\eb9b";
}
.ai-icon .icon-times-circle:before {
    content: "\eb9c";
}
.ai-icon .icon-times:before {
    content: "\eb9d";
}
.ai-icon .icon-tint:before {
    content: "\eb9e";
}
.ai-icon .icon-toggle-down:before {
    content: "\eb9f";
}
.ai-icon .icon-toggle-left:before {
    content: "\eba0";
}
.ai-icon .icon-toggle-off:before {
    content: "\eba1";
}
.ai-icon .icon-toggle-on:before {
    content: "\eba2";
}
.ai-icon .icon-toggle-right:before {
    content: "\eba3";
}
.ai-icon .icon-toggle-up:before {
    content: "\eba4";
}
.ai-icon .icon-trademark:before {
    content: "\eba5";
}
.ai-icon .icon-train:before {
    content: "\eba6";
}
.ai-icon .icon-transgender-alt:before {
    content: "\eba7";
}
.ai-icon .icon-transgender:before {
    content: "\eba8";
}
.ai-icon .icon-trash-o:before {
    content: "\eba9";
}
.ai-icon .icon-trash:before {
    content: "\ebaa";
}
.ai-icon .icon-tree:before {
    content: "\ebab";
}
.ai-icon .icon-trello:before {
    content: "\ebac";
}
.ai-icon .icon-tripadvisor:before {
    content: "\ebad";
}
.ai-icon .icon-trophy:before {
    content: "\ebae";
}
.ai-icon .icon-truck:before {
    content: "\ebaf";
}
.ai-icon .icon-try:before {
    content: "\ebb0";
}
.ai-icon .icon-tty:before {
    content: "\ebb1";
}
.ai-icon .icon-tumblr-square:before {
    content: "\ebb2";
}
.ai-icon .icon-tumblr:before {
    content: "\ebb3";
}
.ai-icon .icon-turkish-lira:before {
    content: "\ebb4";
}
.ai-icon .icon-tv:before {
    content: "\ebb5";
}
.ai-icon .icon-twitch:before {
    content: "\ebb6";
}
.ai-icon .icon-twitter-square:before {
    content: "\ebb7";
}
.ai-icon .icon-twitter:before {
    content: "\ebb8";
}
.ai-icon .icon-umbrella:before {
    content: "\ebb9";
}
.ai-icon .icon-underline:before {
    content: "\ebba";
}
.ai-icon .icon-undo:before {
    content: "\ebbb";
}
.ai-icon .icon-university:before {
    content: "\ebbc";
}
.ai-icon .icon-unlink:before {
    content: "\ebbd";
}
.ai-icon .icon-unlock-alt:before {
    content: "\ebbe";
}
.ai-icon .icon-unlock:before {
    content: "\ebbf";
}
.ai-icon .icon-unsorted:before {
    content: "\ebc0";
}
.ai-icon .icon-upload:before {
    content: "\ebc1";
}
.ai-icon .icon-usb:before {
    content: "\ebc2";
}
.ai-icon .icon-usd:before {
    content: "\ebc3";
}
.ai-icon .icon-user-md:before {
    content: "\ebc4";
}
.ai-icon .icon-user-plus:before {
    content: "\ebc5";
}
.ai-icon .icon-user-secret:before {
    content: "\ebc6";
}
.ai-icon .icon-user-times:before {
    content: "\ebc7";
}
.ai-icon .icon-user:before {
    content: "\ebc8";
}
.ai-icon .icon-users:before {
    content: "\ebc9";
}
.ai-icon .icon-venus-double:before {
    content: "\ebca";
}
.ai-icon .icon-venus-mars:before {
    content: "\ebcb";
}
.ai-icon .icon-venus:before {
    content: "\ebcc";
}
.ai-icon .icon-viacoin:before {
    content: "\ebcd";
}
.ai-icon .icon-video-camera:before {
    content: "\ebce";
}
.ai-icon .icon-vimeo-square:before {
    content: "\ebcf";
}
.ai-icon .icon-vimeo:before {
    content: "\ebd0";
}
.ai-icon .icon-vine:before {
    content: "\ebd1";
}
.ai-icon .icon-vk:before {
    content: "\ebd2";
}
.ai-icon .icon-volume-down:before {
    content: "\ebd3";
}
.ai-icon .icon-volume-off:before {
    content: "\ebd4";
}
.ai-icon .icon-volume-up:before {
    content: "\ebd5";
}
.ai-icon .icon-warning:before {
    content: "\ebd6";
}
.ai-icon .icon-wechat:before {
    content: "\ebd7";
}
.ai-icon .icon-weibo:before {
    content: "\ebd8";
}
.ai-icon .icon-weixin:before {
    content: "\ebd9";
}
.ai-icon .icon-whatsapp:before {
    content: "\ebda";
}
.ai-icon .icon-wheelchair:before {
    content: "\ebdb";
}
.ai-icon .icon-wifi:before {
    content: "\ebdc";
}
.ai-icon .icon-wikipedia-w:before {
    content: "\ebdd";
}
.ai-icon .icon-windows:before {
    content: "\ebde";
}
.ai-icon .icon-won:before {
    content: "\ebdf";
}
.ai-icon .icon-wordpress:before {
    content: "\ebe0";
}
.ai-icon .icon-wrench:before {
    content: "\ebe1";
}
.ai-icon .icon-xing-square:before {
    content: "\ebe2";
}
.ai-icon .icon-xing:before {
    content: "\ebe3";
}
.ai-icon .icon-y-combinator-square:before {
    content: "\ebe4";
}
.ai-icon .icon-y-combinator:before {
    content: "\ebe5";
}
.ai-icon .icon-yahoo:before {
    content: "\ebe6";
}
.ai-icon .icon-yc-square:before {
    content: "\ebe7";
}
.ai-icon .icon-yc:before {
    content: "\ebe8";
}
.ai-icon .icon-yelp:before {
    content: "\ebe9";
}
.ai-icon .icon-yen:before {
    content: "\ebea";
}
.ai-icon .icon-youtube-play:before {
    content: "\ebeb";
}
.ai-icon .icon-youtube-square:before {
    content: "\ebec";
}
.ai-icon .icon-youtube:before {
    content: "\ebed";
}
.ai-icon .icon-advandz:before {
    content: "\ebee";
}
.ai-icon .icon-cyandark:before {
    content: "\e900";
}
.ai-icon .icon-home-alt:before {
    content: "\e901";
}
.ai-icon .icon-spades:before {
    content: "\e918";
}
.ai-icon .icon-clubs:before {
    content: "\e919";
}
.ai-icon .icon-diamonds:before {
    content: "\e91a";
}
.ai-icon .icon-books:before {
    content: "\e921";
}
.ai-icon .icon-phone-hang-up:before {
    content: "\e944";
}
.ai-icon .icon-gauge:before {
    content: "\e9a8";
}
.ai-icon .icon-flame:before {
    content: "\e9aa";
}
.ai-icon .icon-lab:before {
    content: "\e9ab";
}
.ai-icon .icon-emoji-happy-o:before {
    content: "\e9e0";
}
.ai-icon .icon-emoji-happy:before {
    content: "\e9e1";
}
.ai-icon .icon-emoji-smile-o:before {
    content: "\e9e2";
}
.ai-icon .icon-emoji-smile:before {
    content: "\e9e3";
}
.ai-icon .icon-emoji-tongue-o:before {
    content: "\e9e4";
}
.ai-icon .icon-emoji-tongue:before {
    content: "\e9e5";
}
.ai-icon .icon-emoji-sad-o:before {
    content: "\e9e6";
}
.ai-icon .icon-emoji-sad:before {
    content: "\e9e7";
}
.ai-icon .icon-emoji-wink-o:before {
    content: "\e9e8";
}
.ai-icon .icon-emoji-wink:before {
    content: "\e9e9";
}
.ai-icon .icon-emoji-grin-o:before {
    content: "\e9ea";
}
.ai-icon .icon-emoji-grin:before {
    content: "\e9eb";
}
.ai-icon .icon-emoji-cool-o:before {
    content: "\e9ec";
}
.ai-icon .icon-emoji-cool:before {
    content: "\e9ed";
}
.ai-icon .icon-emoji-angry-o:before {
    content: "\e9ee";
}
.ai-icon .icon-emoji-angry:before {
    content: "\e9ef";
}
.ai-icon .icon-emoji-evil-o:before {
    content: "\e9f0";
}
.ai-icon .icon-emoji-evil:before {
    content: "\e9f1";
}
.ai-icon .icon-emoji-shocked-o:before {
    content: "\e9f2";
}
.ai-icon .icon-emoji-shocked:before {
    content: "\e9f3";
}
.ai-icon .icon-emoji-baffled-o:before {
    content: "\e9f4";
}
.ai-icon .icon-emoji-baffled:before {
    content: "\e9f5";
}
.ai-icon .icon-emoji-confused-o:before {
    content: "\e9f6";
}
.ai-icon .icon-emoji-confused:before {
    content: "\e9f7";
}
.ai-icon .icon-emoji-neutral-o:before {
    content: "\e9f8";
}
.ai-icon .icon-emoji-neutral:before {
    content: "\e9f9";
}
.ai-icon .icon-emoji-hipster-o:before {
    content: "\e9fa";
}
.ai-icon .icon-emoji-hipster:before {
    content: "\e9fb";
}
.ai-icon .icon-emoji-wondering-o:before {
    content: "\e9fc";
}
.ai-icon .icon-emoji-wondering:before {
    content: "\e9fd";
}
.ai-icon .icon-emoji-sleepy-o:before {
    content: "\e9fe";
}
.ai-icon .icon-emoji-sleepy:before {
    content: "\e9ff";
}
.ai-icon .icon-emoji-frustrated-o:before {
    content: "\ea00";
}
.ai-icon .icon-emoji-frustrated:before {
    content: "\ea01";
}
.ai-icon .icon-emoji-crying-o:before {
    content: "\ea02";
}
.ai-icon .icon-emoji-crying:before {
    content: "\ea03";
}
.ai-icon .icon-play-circle-alt:before {
    content: "\ea16";
}
.ai-icon .icon-pause-circle-alt:before {
    content: "\ea17";
}
.ai-icon .icon-stop-circle-alt:before {
    content: "\ea18";
}
.ai-icon .icon-previous-circle-alt:before {
    content: "\ea19";
}
.ai-icon .icon-next-circle-alt:before {
    content: "\ea1a";
}
.ai-icon .icon-backward-circle-alt:before {
    content: "\ea1b";
}
.ai-icon .icon-forward-circle-alt:before {
    content: "\ea1c";
}
.ai-icon .icon-omega:before {
    content: "\ebef";
}
.ai-icon .icon-sigma:before {
    content: "\ebf0";
}
.ai-icon .icon-google-square:before {
    content: "\ea8a";
}
.ai-icon .icon-google-circle:before {
    content: "\ea8b";
}
.ai-icon .icon-google-plus-circle:before {
    content: "\ea8e";
}
.ai-icon .icon-hangouts:before {
    content: "\ea8f";
}
.ai-icon .icon-google-drive:before {
    content: "\ea90";
}
.ai-icon .icon-telegram:before {
    content: "\ea96";
}
.ai-icon .icon-npm:before {
    content: "\eab2";
}
.ai-icon .icon-git-alt:before {
    content: "\ebf1";
}

